---
import Layout from "@layouts/Layout.astro";
import { dateFormatter } from "@lib/util";
import { getCollection } from "astro:content";

const thoughts = (await getCollection("thoughts"))
	.sort((a, b) => b.data.date.getTime() - a.data.date.getTime());
---

<Layout title="thoughts">
	<section>
		<h1>thoughts</h1>

		{
			(!thoughts.length) ? <p>no thoughts just yet, check back soon</p> : undefined
		}
		{
			thoughts.map((post) => {
				return <article class="content-item">
					<h2><a href={"/thoughts/" + post.id}>{ post.data.title }</a></h2>
					<p>{ dateFormatter.format(post.data.date) }</p>
					<p>{ post.data.description }</p>
				</article>
			})
		}
	</section>
</Layout>

<style>
	body {
		--theme: var(--thoughts);
	}
</style>
