---
import ExternalLink from "@components/ExternalLink.astro";
import TechLinks from "@components/TechLinks.astro";
import Layout from "@layouts/Layout.astro";
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";

export const getStaticPaths = (async () => {
	const games = await getCollection("games");

	return games.map((gamePage) => ({
		params: { slug: gamePage.slug },
		props: { gamePage },
	}));
}) satisfies GetStaticPaths;

const { gamePage } = Astro.props;
const { Content } = await gamePage.render();
---

<Layout title={gamePage.data.name}>
	<section>
		<a href="/games">back to games</a>
		<h1>{ gamePage.data.name } { gamePage.data.link ? <ExternalLink class="button" href={gamePage.data.link}>Play</ExternalLink> : undefined }</h1>
		<p>Made with <TechLinks techs={gamePage.data.tech} />{ gamePage.data.jam ? <span> for the <ExternalLink href={gamePage.data.jam.link}>{ gamePage.data.jam.name }</ExternalLink></span> : undefined }</p>

		<Content />
	</section>
</Layout>

<style>
	body {
		--theme: var(--games);
	}

	iframe {
		border: none;
	}

	h1 .button {
		font-size: 1.25rem;
		margin-left: .5em;
	}
</style>
