---
import TechLinks from "@components/TechLinks.astro";
import Layout from "@layouts/Layout.astro";
import { getCollection } from "astro:content";

const games = (await getCollection("games"))
	.sort((a, b) => b.data.date.getTime() - a.data.date.getTime());
---

<Layout title="games">
	<section>
		<h1>games</h1>

		{
			games.map((game) => (
				<article class="content-item">
					<h2><a href={"/games/" + game.id}>{ game.data.title }</a></h2>
					<div class="game-details">
						<p><TechLinks techs={game.data.tech} /></p>
						{ (game.data.jam) ?
							<a href={game.data.jam.link}>{ game.data.jam.name }</a>
							: undefined
						}
					</div>
					<p>{ game.data.description }</p>
				</article>
			))
		}
	</section>
</Layout>

<style>
	body {
		--theme: var(--games);
	}

	article {
		& .game-details {
			display: flex;
			flex-wrap: wrap;
			gap: 0 1em;
			margin: .25em 0;

			& > p {
				margin: 0;
			}
		}
	}
</style>
