---
import TechLinks from "@components/TechLinks.astro";
import Layout from "@layouts/Layout.astro";
import type { GetStaticPaths } from "astro";
import { getCollection, render } from "astro:content";

export const getStaticPaths = (async () => {
	const projects = await getCollection("projects");

	return projects.map((projectPage) => ({
		params: { slug: projectPage.id },
		props: { projectPage },
	}));
}) satisfies GetStaticPaths;

const { projectPage } = Astro.props;
const { Content } = await render(projectPage);
---

<Layout title={projectPage.data.name}>
	<section>
		<a href="/projects">back to projects</a>
		<h1>{ projectPage.data.name } { projectPage.data.link ? <a class="button" href={projectPage.data.link.url}>{ projectPage.data.link.name }</a> : undefined }</h1>
		<p>Made with <TechLinks techs={projectPage.data.tech} /></p>

		<Content />
	</section>
</Layout>

<style>
	body {
		--theme: var(--projects);
	}

	iframe {
		border: none;
	}

	h1 .button {
		font-size: 1.25rem;
		margin-left: .5em;
	}
</style>
