---
import TechLinks from "@components/TechLinks.astro";
import Layout from "@layouts/Layout.astro";
import { getCollection } from "astro:content";

const projects = (await getCollection("projects"))
	.sort((a, b) => b.data.date.getTime() - a.data.date.getTime());
---

<Layout title="projects">
	<section>
		<h1>projects</h1>

		{
			projects.map((project) => (
				<article class="content-item">
					<h2><a href={"/projects/" + project.slug}>{ project.data.name }</a></h2>
                    <p><TechLinks techs={project.data.tech}/></p>
					<p>{ project.data.tagline }</p>
				</article>
			))
		}
	</section>
</Layout>

<style>
	body {
		--theme: var(--projects);
	}
</style>
