---
import TagLinks from "@components/TagLinks.astro";
import Layout from "@layouts/Layout.astro";
import { getTags, sortByDate } from "@lib/util";
import { getCollection } from "astro:content";

const projects = sortByDate(await getCollection("projects"));
---

<Layout title="projects">
	<section>
		<h1>projects</h1>

		{
			projects.map(async (project) => {
				const tags = await getTags(project);

				return (
					<article class="content-item">
						<h2><a href={"/projects/" + project.id}>{ project.data.title }</a></h2>
						<p><TagLinks tags={tags}/></p>
						<p>{ project.data.description }</p>
					</article>
				);
			})
		}
	</section>
</Layout>

<style>
	body {
		--theme: var(--projects);
	}
</style>
