---
interface Props {
	hideNav?: boolean;
	title: string;
}

import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
const { hideNav, title } = Astro.props;
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{title} - s&eacute;bastien dunne fulmer</title>
		<link rel="sitemap" href="/sitemap-index.xml" />
	</head>
	<body>
		{ (!hideNav) ? <Header /> : undefined }
		<main>
			<slot />
		</main>
		<Footer />
	</body>
</html>

<style is:global>
	@font-face {
		font-family: "Work Sans";
		src: url("/fonts/worksans.ttf");
	}

	@font-face {
		font-family: "Work Sans";
		src: url("/fonts/worksans-italic.ttf");
		font-style: italic;
	}

	html {
		--bg: #202020;
		--primary: #07FA39;
		--thoughts: #FAF019;
		--games: #E354FC;
		--projects: #42E5FA;

		--theme: var(--primary);

		background-color: var(--bg);
		font-family: "Work Sans", sans-serif;
		font-size: 100%;
	}

	body {
		color: var(--theme);
		font-size: 1.2rem;
		margin: 0;
	}

	a {
		color: inherit;

		&:active, &:focus, &:hover {
			background-color: var(--theme);
			color: var(--bg);
		}
	}

	section {
		margin: 1em auto;
		max-width: 80rem;
		padding: 0 2em;
	}

	a.button, button.button {
		border: .1em solid var(--theme);
		border-radius: .25em;
		padding: .25em .5em;
	}

	article.content-item {
		margin: 3em 0;

		& h2 {
			margin-bottom: .25em;
		}

        & p {
            margin: .25em 0;
        }
	}

	[data-icon] {
		font-size: 1.4rem;
	}

	:is(h1, h2, h3, h4, h5, h6, p) [data-icon] {
		vertical-align: top;
	}
</style>
